<app-navbar></app-navbar>

<div class="container">
  <div class="image">
    <img src="../../assets/groupe.png" alt="Image des consoles et des PC">
  </div>
  <div class="description">
    <h1>Des consoles de jeu et des PC gamers sur mesure</h1>
    <p>Découvrez notre large sélection de consoles de jeu et de PC gamers, spécialement conçus pour les passionnés de jeux vidéo au Cameroun. Nous proposons également des services de personnalisation de PC et des formations adaptées à tous les niveaux.</p>
    <div class="buttons">
      <button class="btn btn-primary">Voir nos consoles</button>
      <button class="btn btn-secondary" (click)="openConnexion()">Se connecter</button>
    </div>
  </div>
</div>

<div class="slider">
  <i class="fas fa-chevron-left"></i>
  <span class="slider-dots">
    <i class="fas fa-circle active"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
  </span>
  <i class="fas fa-chevron-right"></i>
</div>

<app-ordi></app-ordi>
<app-avis></app-avis>
<app-footer></app-footer>